# Numpy

In [4]:
# It is a fundamental pacakage that provides efficient storage and operation for multidimensional arrays. At first we import this 
# pacakge using alias
import numpy as np

In [2]:
# to create a numpy array from a python list or tuple,use np.array()
list1=[[1,2,4],[4,5,6]]
list1

[[1, 2, 4], [4, 5, 6]]

In [3]:
a1=np.array(list1)

In [4]:
a1

array([[1, 2, 4],
       [4, 5, 6]])

In [5]:
type(a1)

numpy.ndarray

# numpy array attributes:

In [7]:

#dtype:we can check the  type of the elements of an array with dtype
a1.dtype

dtype('int64')

In [9]:
a2=[[2.2,3.4],[4,5]]
a3=np.array(a2)

In [13]:
a3.dtype# observe that dtype of an array having homogeneity in array elements, same dtype, we can also set it.
a4=np.array(list1,dtype='float32')
a4.dtype

dtype('float32')

In [14]:
# we can recast the datatype by astype() method
a5=a3.astype(int)
a5

array([[2, 3],
       [4, 5]])

In [15]:
# size: return the number of elements of an array
a3.size

4

In [16]:
#ndim: returns the number of dimension
a4.ndim

2

In [17]:
#shape: number of element of each dimension
a3.shape

(2, 2)

In [18]:
#note there is a diiference between 1d array and 2d array with one row or column
a6=np.arange(6)

In [19]:
a6

array([0, 1, 2, 3, 4, 5])

In [20]:
a6.shape

(6,)

In [32]:
a7=np.array([[0,1,2,3,4,5]])
a7.shape

(1, 6)

In [31]:
a7.T.shape

(6, 1)

In [33]:
a7.T

array([[0],
       [1],
       [2],
       [3],
       [4],
       [5]])

# numpy built in function for array creation

#zeros():create an array of given shapes filled with zeros
a=np.zeros(5)
a

In [36]:
b=np.zeros((3,4),dtype='int_')
b

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [37]:
#ones():create an array of given shapes filled with ones
c=np.ones((2,4))
c

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [39]:
#full():creates an array of given shape with value
a=np.full((3,4),3.4)
a

array([[3.4, 3.4, 3.4, 3.4],
       [3.4, 3.4, 3.4, 3.4],
       [3.4, 3.4, 3.4, 3.4]])

In [41]:
#eye():create an identity array
d=np.eye(3)
d

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [42]:
#arange(start,stop,step): creates evenly spaced values.
x=np.arange(2,20,3)

In [43]:
x

array([ 2,  5,  8, 11, 14, 17])

In [44]:
#random.normal(loc,scale,size) :creates a array of shape size with elements bein g independent realization of a normal variable
# mean loc and standard deviation scale
y= np.random.normal(0,1,size=(3,3))

In [45]:
y

array([[ 1.02875264e-04, -1.95812496e+00, -1.16331079e-01],
       [-7.66072566e-01, -9.48950949e-02,  1.12783351e+00],
       [ 9.49125142e-01, -3.50479523e-01,  3.73852421e-01]])

# array indexing

In [47]:
# in indexing arrays , it is important if we index a multidimensional array with fewer than dimension it returns a sub-array.
a

array([[3.4, 3.4, 3.4, 3.4],
       [3.4, 3.4, 3.4, 3.4],
       [3.4, 3.4, 3.4, 3.4]])

In [48]:
a[1]

array([3.4, 3.4, 3.4, 3.4])

In [49]:
a[1][2]

np.float64(3.4)

In [50]:
# we already seen this type of indexing .numpy suuports multidimensional indexing
a[1,0]

np.float64(3.4)

In [51]:
# we can slicing the array as we ahve previously seen for list or tuples.
a[:2,1:]

array([[3.4, 3.4, 3.4],
       [3.4, 3.4, 3.4]])

In [53]:
# one main difference between numpy slicing and list slicing is that array slicing provides a view of original list where as
# list slicing copies the list. If a subarray comes from slicing and modified it , it also modified the original array but
#in list slicing this not happens as we seen it earlier
e=a[:-3:-1,::2]
e

array([[3.4, 3.4],
       [3.4, 3.4]])

In [55]:
e[0,1]=5
a#the change  appears a too

array([[3.4, 3.4, 3.4, 3.4],
       [3.4, 3.4, 3.4, 3.4],
       [3.4, 3.4, 5. , 3.4]])

In [56]:
# to change this default behaviour , we use: copy() and array() constructor method
e=a[:-3:-1,::2].copy()
e

array([[3.4, 5. ],
       [3.4, 3.4]])

In [57]:
e[1,1]=6
a# the change does not appear not in a

array([[3.4, 3.4, 3.4, 3.4],
       [3.4, 3.4, 3.4, 3.4],
       [3.4, 3.4, 5. , 3.4]])

In [61]:
e=np.array(a[:-3:-1,::2])
e[1,1]=7

a# the change does not appear not in a

array([[3.4, 3.4, 3.4, 3.4],
       [3.4, 3.4, 3.4, 3.4],
       [3.4, 3.4, 5. , 3.4]])

In [1]:
#indexing array with other array
f=[i for i in range(1,29,2)]

In [5]:
g=np.array(f)

In [13]:
c=np.arange(10,5,-1)

In [14]:
print('g='+str(g)+'\n'+'c='+str(c)+'\n'+'g[c]='+str(g[c]))

g=[ 1  3  5  7  9 11 13 15 17 19 21 23 25 27]
c=[10  9  8  7  6]
g[c]=[21 19 17 15 13]

In [15]:
#index must be integers

# Reshaping arrays

In [16]:
#one major difference between numpy array and the list is that size of an array once created is fixed, but this is not case for 
# list. But we can change the shape of an array  by using reshape() method.

In [20]:
b=g.reshape(2,10)# this through an error because number of elements should be same.
b

ValueError: cannot reshape array of size 14 into shape (2,10)

In [21]:
b=g.reshape(2,7)
b

array([[ 1,  3,  5,  7,  9, 11, 13],
       [15, 17, 19, 21, 23, 25, 27]])

In [23]:
#now if you do not know the no of elemts in each row you can provide -1, numpy will determine the elements through axis.
a=np.arange(1,21)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [25]:
x=a.reshape(5,-1)
x

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20]])

In [28]:
y=a.reshape(-1,5)
y

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [29]:
y.reshape(-1)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [31]:
x.ravel()#instead of y.reshape(-1)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [35]:
#ocassionally it is required to convert the 1D array to 2d array with one column or by one row.
#1.by using reshape() 2. using newaxis with slicing
d=np.arange(5)

In [33]:
d.reshape(-1,1)

array([[0],
       [1],
       [2],
       [3],
       [4]])

In [37]:
d[:,np.newaxis]#instead of d.reshape(-1,1)

array([[0],
       [1],
       [2],
       [3],
       [4]])

In [39]:
d[np.newaxis,:]

array([[0, 1, 2, 3, 4]])

## Universal function

In [41]:
# some binary universal function are:
#np.subtract
a=np.arange(1000)
a=np.subtract(a,1)

In [42]:
a

array([ -1,   0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,
        12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,
        25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,
        38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,
        51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,
        64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,
        77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,
        90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102,
       103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115,
       116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128,
       129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141,
       142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154,
       155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167,
       168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180,
       181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193,
       194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206,
       207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219,
       220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232,
       233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245,
       246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258,
       259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271,
       272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284,
       285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297,
       298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310,
       311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323,
       324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336,
       337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349,
       350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362,
       363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375,
       376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388,
       389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401,
       402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414,
       415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427,
       428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440,
       441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453,
       454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466,
       467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479,
       480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492,
       493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505,
       506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518,
       519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531,
       532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544,
       545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557,
       558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570,
       571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583,
       584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596,
       597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609,
       610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622,
       623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635,
       636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648,
       649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661,
       662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674,
       675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687,
       688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700,
       701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713,
       714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726,
       727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739,
       740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752,
       753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765,
       766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778,
       779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791,
       792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804,
       805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817,
       818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830,
       831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843,
       844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856,
       857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869,
       870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882,
       883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895,
       896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908,
       909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921,
       922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934,
       935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947,
       948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960,
       961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973,
       974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986,
       987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998])

In [43]:
# simmilary:np.add() for +
# np.multiply for *
# np.floor_divide for //
# np.mod for %

In [44]:
#some uniary functions
#np.sum()
#np.prod()
#np.mean()
#np.std()
#np.sqrt()
#np.log()
#np.var()
#np.min
#np.max

## Broadcasting

In [45]:
#It is a set of rule that instructs Numpy how to treat arrays of different shapes and dimension during arithmetic operation.

In [46]:
a=np.arange(6)
a

array([0, 1, 2, 3, 4, 5])

In [47]:
b=a+2
b

array([2, 3, 4, 5, 6, 7])

# the rules of boradcasting
## If two arrays are different dimensions dimension ones are added to the left of the shape of the array with fewer dimension to make them same

## once dimesion are equal , the size of arrays in each dimesion must be equal or 1 in atleast one of them otherwise it raised an
# error
## If an error is not raised ,then the size of the output array in each dimension  is the maximum of array size in that dimension.

In [56]:
a=np.ones((2,4))
a

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [57]:
b=np.random.randint(1,10,4)
b

array([3, 7, 8, 6], dtype=int32)

In [58]:
b.shape

(4,)

In [59]:
print(a+b)

[[4. 8. 9. 7.]
 [4. 8. 9. 7.]]

• By Rule 1, a single 1 is added to the left of b shape to make b a two-dimensional
array as a; that is, we can think of b now as having shape (1, 4).
• The shape of a is (2, 4) and the shape of b is (1, 4). Therefore, Rule 2 does not
raise an error because the sizes in each dimension are either equal (here 4) or at
least one of them is 1 (for example, 2 in a and 1 in b).
• Rule 3 indicates that the size of the output is (max{2,1}, max{4,4}) so it is (2,
4). This means that array b is streched along its axis 0 (the left element in a
shape tuple) to match the size of a in that dimension.

In [62]:
a=np.arange(8).reshape(2,4,1)
print(a)
a.shape

[[[0]
  [1]
  [2]
  [3]]

 [[4]
  [5]
  [6]
  [7]]]

(2, 4, 1)

In [66]:
b=np.arange(4)
b.shape

(4,)

In [67]:
print(a+b)

[[[ 0  1  2  3]
  [ 1  2  3  4]
  [ 2  3  4  5]
  [ 3  4  5  6]]

 [[ 4  5  6  7]
  [ 5  6  7  8]
  [ 6  7  8  9]
  [ 7  8  9 10]]]

• By Rule 1, a 1 is added to the left of b shape to make it a 3-dimensional array
as a; that is, we can think of b now as having shape (1, 1, 4).
• The shape of a is (2, 4, 1) and the shape of b is (1, 1, 4). Therefore, Rule 2 does
not raise an error because the sizes in each dimension are either equal or at least
one of them is 1.
• Rule 3 indicates that the size of the output is (max{2,1}, max{4,1}, max{1,4})
so it is (2, 4, 4). This means that array a is streched along its axis 2 (the third
element in its shape tuple) to make its size 4 (similar to b in that dimension), array
b is streched along its axis 1 to make its size 4 (similar to a in that dimension),
and finally array b is stretched along its axis 0 to make its size 2

In [72]:
m=np.arange(8).reshape(2,2,2)
print(m)
m.shape

[[[0 1]
  [2 3]]

 [[4 5]
  [6 7]]]

(2, 2, 2)

In [73]:
b=np.arange(4)
b.shape

(4,)

In [74]:
print(m+b)

ValueError: operands could not be broadcast together with shapes (2,2,2) (4,)