In [1]:
# some recap:
''' A code pattern is generally reffered to as pythonic if it uses pattern known as idioms which are iin fact some code 
conventions acceptable by python community'''
# for example  looping through a dictionary, we can fetch both key and value at a same time by using items()method

' A code pattern is generally reffered to as pythonic if it uses pattern known as idioms which are iin fact some code \nconventions acceptable by python community'

In [3]:
dict1={1:"arbitary",2:"epsilon",3:'delta'}
for key,val in dict1.items():
    print('key: ', key)
    print('val:', val)

key:  1
val: arbitary
key:  2
val: epsilon
key:  3
val: delta

In [6]:
# list comprehension:once we have an iterable, it is required to perform these operation.
#select some elemntsthat meet some conditions 
# perform some operations on every element
# both
# so pthon has an idiomatic way of doing these known as list comprehension.
#exaple print the odd no between 1 to 30
list_odd=[]
for i in range(30):
    if i%2==1:
        list_odd.append(i)
list_odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [7]:
#function
def sum(a,b):
    return a+b
print(sum(7,8))

15

In [8]:
#aliases:A given nickname is known as alias,
import pandas as pd# here pd is alias of pandas

# Iterator

##  in Python, an iterator is an object which implements the iterator protocol, which consist of the methods __iter__() and __next__().

In [9]:
#How can we produce an iterator ?
list3=['a','v','d','s',1]
iter_a=iter(list3)
iter_a

In [10]:
next(iter_a)

'a'

In [11]:
iter_a.__next__()

'v'

In [13]:
#when iterator exhuasted then it through an exception Stopiteration
#iterators nned not be finite

# Generator

In [18]:
#generators functuons are special functions in python that simplify writing custom iterators. This function returns an iterator,
#which can be used a stream of data.
import math

In [25]:
def sum_list(l):
    sum=0
    for i in l:
        sum+=i
    return sum

In [27]:
def first_n_sum_func(n):
    sum_num_list,num =[], 1 # create an empty list to hold values of sums
    sum_num=sum_list(sum_num_list)
    while num<=n:
        sum_num=sum_num+num
        sum_num_list.append(sum_num)
        num+=1
    return sum_num_list    
for i in first_n_sum_func(10):
    print(i,end=' ')

1 3 6 10 15 21 28 36 45 55

In [ ]:
#We created a list to hold the sums , for this purpose , it much more elgant to use genrators

In [32]:
def first_n_num_gen(n):
    sum_num,num=0,1
    while num<=n:
        sum_num +=num
        num +=1
        yield sum_num
for i in first_n_num_gen(10):
    print(i,end=' ')

1 3 6 10 15 21 28 36 45 55

In [42]:
# to understand how this generators function works 
## A funtion with one or more yields statement is generator function
## once a generator functin is called , the execution does not start and it only return a generator object , which is an iterator.
## the first time __next()__ is called on the genrator object , the function will executes untill it reaches the first yields
## once  __next()__ is called on the genrator object, the function resumes where it is lef and until it reaches second yields.
## once funtion terminates StopIteration raised.

In [33]:
print(*first_n_sum_func(10))

1 3 6 10 15 21 28 36 45 55

In [34]:
print(first_n_sum_func(10))

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [35]:
print(*first_n_num_gen(10))

1 3 6 10 15 21 28 36 45 55

In [36]:
print(first_n_num_gen(10))

<generator object first_n_num_gen at 0x000001D05B0BFED0>

In [37]:
# the key difference is genrator returns an iterator . IN the avobe example in a for loop the __next()__ method applied 
#until is exhuasted

In [38]:
#generator expression: The same way ce=reating list compreshension to create simple list , generator expression to create 
#simple generators. the syntax for genexps ()

In [41]:
n=10
gen1=(sum_list(range(1,num+1)) for num in range(1,n+1))
print(*gen1)

1 3 6 10 15 21 28 36 45 55

In [43]:
#excercise:
#1. 
x=[5,10,3,2,8,0]
x[:2:-1]

[0, 8, 2]

In [44]:
a=[1,2,3,4]
[i+1 for i in a]

[2, 3, 4, 5]

In [45]:
d={1:"good", 2:"morning",3:'john'}

In [52]:
for value in d.values():
    print(value.title())
    print()

Good

Morning

John

In [55]:
for key,val in d.items():
    print(key)

1
2
3

In [59]:
list_a=[1,2,3,4]
list_b=['a','b','c','d']
list_c=['a1','b1','c1']
for i in zip(list_a,list_b,list_c):
    print(i)

(1, 'a', 'a1')
(2, 'b', 'b1')
(3, 'c', 'c1')

In [61]:
phone=[979921,989043,933043,932902]
student=('jane','nika','kian','mira')
di=dict(zip(phone,student))
di

{979921: 'jane', 989043: 'nika', 933043: 'kian', 932902: 'mira'}

In [62]:
[(i,i**2,i**3) for i in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [65]:
dict1={'A1':100,'B1':20,'A2':30,'B2':405,'A3':23}
[dict1[i] for i in dict1.keys()]

[100, 20, 30, 405, 23]